* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto 320px;
  grid-template-rows:4% auto 420px;
  grid-template-areas:
  "header header"
  "displaySection historySection"
  "keyNumber historySection "
   ;
 
   width: 100vw;
   height: 100vh;
}
/* start header */

.header {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: header;
  align-items: center;

}

.header .headerBtn { 
  display: flex;
  flex-direction: row;
  height:100%;
  min-width: 140px;
  /* justify-content: center; */


}
.header .calcName {
  margin-left: 5px;
}
.header .headerBtn p{
flex-grow: 1;
display: flex;
justify-content: center;
align-items: center;
transition:0.5s;



}

.header .headerBtn .closeBtn:hover{
  background-color: red;
  color: white;
}
.header .headerBtn p:hover{
background-color: gray;

}
/* end of header */

/* start display section */

.displaySection {
  grid-area: displaySection;
  display: flex;
  flex-direction: column;
  background-color: brown;
}
.displaySection .displayBar {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  border: solid;
  height: 10%;
  min-height: 25px;
 
}

.displaySection .display {
  display: flex;
  justify-content: right;
  align-items: center;
  border: solid;
  height:80%;
  min-height: 50px;


  
}

.displaySection .memorySection {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 8%;
  border: solid;
  height: 8%;
  min-height: 25px;
 
  
}

/* end of display section */

/* start key number */

.keyNumber {
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
  grid-area: keyNumber;
  background-color: yellow;
  

}
.keyNumber p{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end of key number */

/* start history */

.historySection {
  display: flex;
  flex-direction: column;
  gap: 15%;
  /* padding: 3% 0 0 3%; */
  background-color: blueviolet;
  grid-area: historySection;
}

.historySection .historyMemory {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.historySection .resultSection {
  display: flex;
  flex-direction: row;
}

/* end of history */
